<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssj.dao.StuMapper">
<resultMap id="stuList" type="student">
		<id column="stu_id" property="stu_id"></id>
		<result column="stu_name" property="stu_name"></result>
		<result column="stu_sex" property="stu_sex"></result>
		<result column="stu_age" property="stu_age"></result>
		<result column="stu_phone" property="stu_phone"></result>
		<result column="stu_state" property="stu_state"></result>
		<result column="stu_xueLi" property="stu_xueLi"></result>
		<result column="stu_quDao" property="stu_quDao"></result>
		<result column="stu_wangZhan" property="stu_wangZhan"></result>
		<result column="stu_guanZhu" property="stu_guanZhu"></result>
		<result column="stu_guanJian" property="stu_guanJian"></result>
		<result column="stu_wx" property="stu_wx"></result>
		<result column="stu_qq" property="stu_qq"></result>
		<result column="stu_baoBei" property="stu_baoBei"></result>
		<result column="stu_beiZhu" property="stu_beiZhu"></result>
		<result column="stu_useryId" property="usery.u_id"></result>
		<result column="stu_youXiao" property="stu_youXiao"></result>
		<result column="stu_wuXiaoYuanYin" property="stu_wuXiaoYuanYin"></result>
		<result column="stu_huiFang" property="stu_huiFang"></result>
		<result column="stu_creatorTime" property="stu_creatorTime"></result>
		<result column="stu_visit" property="stu_visit"></result>
		<result column="stu_visitTime" property="stu_visitTime"></result>
		<result column="stu_payTime" property="stu_payTime"></result>
		<result column="stu_money" property="stu_money"></result>
		<result column="stu_moneyTime" property="stu_moneyTime"></result>
		<result column="stu_jinE" property="stu_jinE"></result>
		<result column="stu_tui" property="stu_tui"></result>
		<result column="stu_tuiYin" property="stu_tuiYin"></result>
		<result column="stu_dingJinE" property="stu_dingJinE"></result>
		<result column="stu_dingTime" property="stu_dingTime"></result>
		<result column="stu_class" property="stu_class"></result>
		<result column="stu_classTime" property="stu_classTime"></result>
		<result column="stu_classBeiZhu" property="stu_classBeiZhu"></result>
		<result column="stu_ziXun" property="stu_ziXun"></result>
		<result column="stu_ziXunBeiZhu" property="stu_ziXunBeiZhu"></result>
		<result column="stu_quYu" property="stu_quYu"></result>
		<result column="stu_buMen" property="stu_buMen"></result>
		<result column="stu_keCheng" property="stu_keCheng"></result>
		<result column="stu_daFen" property="stu_daFen"></result>
		<result column="stu_luRu" property="stu_luRu"></result>
		
		<result column="u_loginName" property="usery.u_loginName"></result>
		<result column="u_password" property="usery.u_password"></result>
		<result column="u_isLockout" property="usery.u_isLockout"></result>
		<result column="u_loginTime" property="usery.u_loginTime"></result>
		<result column="u_logoutTime" property="usery.u_logoutTime"></result>
		<result column="u_isQianDao" property="usery.u_isQianDao"></result>
		<result column="u_clockinTime" property="usery.u_clockinTime"></result>
		<result column="u_clockoutTime" property="usery.u_clockoutTime"></result>
		<result column="u_creationTime" property="usery.u_creationTime"></result>
		<result column="u_email" property="usery.u_email"></result>
		<result column="u_phone" property="usery.u_phone"></result>



	</resultMap>

<!-- 查询总条数 -->
		<select id="selectStuCount" parameterType="fenye" resultType="int">
		SELECT COUNT(stu_id) FROM student
			<where>
				<if test="stu_name !='' and stu_name !=null">
				and stu_name like "%"#{stu_name}"%"
				</if>
				<if test="stu_phone !='' and stu_phone !=null">
					and stu_phone like "%"#{stu_phone}"%"
				</if>
		
				<if test="stu_money !='' and stu_money !=null">
					and stu_money =#{stu_money}
				</if>
				<if test="stu_youXiao !='' and stu_youXiao !=null">
					and stu_youXiao =#{stu_youXiao}
				</if>
				<if test="stu_huiFang !='' and stu_huiFang !=null">
					and stu_huiFang =#{stu_huiFang}
				</if>
				<if test="stu_qq !='' and stu_qq !=null">
					and stu_qq =#{stu_qq}
				</if>
				<if test="startTime !='' and startTime !=null">
					and stu_creatorTime &gt;=  #{startTime}
				</if>
				<if test="endTime !='' and endTime !=null">
					and stu_creatorTime  &lt;= #{endTime}
				</if>
			</where> 
		</select>
		<!--显示所有学生  -->
		<select id="selectStu" parameterType="fenye" resultMap="stuList">
	  	SELECT s.stu_id, s.stu_name,s.stu_sex,s.stu_age,s.stu_phone,s.stu_state,s.stu_xueLi,s.stu_quDao,
				s.stu_wangZhan,s.stu_guanZhu,s.stu_guanJian,s.stu_wx,s.stu_qq,s.stu_baoBei,s.stu_beiZhu,u.u_loginName,
				s.stu_youXiao,s.stu_wuXiaoYuanYin,s.stu_huiFang,s.stu_creatorTime,s.stu_visit,s.stu_visitTime,s.stu_payTime,
				s.stu_money,s.stu_moneyTime,s.stu_jinE,s.stu_tui,s.stu_tuiYin,s.stu_dingJinE,s.stu_dingTime,
				s.stu_class,s.stu_classTime,s.stu_classBeiZhu,s.stu_ziXun,s.stu_ziXunBeiZhu,s.stu_quYu,
				s.stu_buMen,s.stu_keCheng,s.stu_daFen,s.stu_luRu
 				FROM student s, usery u
 				<where>
			<if test="student.stu_name !='' and student.stu_name !=null">
			and stu_name like "%"#{student.stu_name}"%"
		</if>
		<if test="student.stu_phone !='' and student.stu_phone !=null">
			and stu_phone like "%"#{student.stu_phone}"%"
		</if>

		<if test="student.stu_money !='' and student.stu_money !=null">
			and stu_money =#{student.stu_money}
		</if>
		<if test="student.stu_youXiao !='' and student.stu_youXiao !=null">
			and stu_youXiao =#{student.stu_youXiao}
		</if>
		<if test="student.stu_huiFang !='' and student.stu_huiFang !=null">
			and stu_huiFang =#{student.stu_huiFang}
		</if>
		<if test="student.stu_qq !='' and student.stu_qq !=null">
			and s.stu_qq =#{student.stu_qq}
		</if>
		<if test="startTime !='' and startTime !=null">
			and s.stu_creatorTime &gt;=  #{startTime}
		</if>
		<if test="endTime !='' and endTime !=null">
			and s.stu_creatorTime  &lt;= #{endTime}
	
		</if>
		and s.stu_useryId =u.u_id
		</where> 
 				limit #{page},#{pageSize}
		</select>
		
		
		
		<select id="getU_loginName" resultType="usery">
		SELECT u_id,u_loginName,u_password,u_isLockout,u_loginTime,u_logoutTime,u_isQianDao,u_clockinTime,
		u_clockoutTime,u_creationTime,u_email,u_phone
  			 FROM usery 
	

	</select>
		
		
	<!--修改学生信息  -->
		<update id="updateStu" parameterType="student">
			UPDATE student 
		 <set> 
			<if test="stu_name != null and stu_name !=''">
				 stu_name=#{stu_name},
			</if>
			<if test="stu_sex != null and stu_sex !=''">
				 stu_sex=#{stu_sex},
			</if>
			<if test="stu_age != null and stu_age !=''">
				 stu_age=#{stu_age},
			</if>
			
			<if test="stu_phone != null and stu_phone !=''">
				 stu_phone=#{stu_phone},
			</if>
			<if test="stu_state != null and stu_state !=''">
				 stu_state=#{stu_state},
			</if>
			<if test="stu_xueLi != null and stu_xueLi !=''">
				 stu_xueLi=#{stu_xueLi},
			</if>
			
			<if test="stu_quDao != null and stu_quDao !=''">
				 stu_quDao=#{stu_quDao},
			</if>
			<if test="stu_wangZhan != null and stu_wangZhan !=''">
				 stu_wangZhan=#{stu_wangZhan},
			</if>
			<if test="stu_guanZhu != null and stu_guanZhu !=''">
				 stu_guanZhu=#{stu_guanZhu},
			</if>
			<if test="stu_guanJian != null and stu_guanJian !=''">
				 stu_guanJian=#{stu_guanJian},
			</if>
			<if test="stu_wx != null and stu_wx !=''">
				 stu_wx=#{stu_wx},
			</if>
			<if test="stu_qq != null and stu_qq !=''">
				 stu_qq=#{stu_qq},
			</if>
			<if test="stu_baoBei != null and stu_baoBei !=''">
				 stu_baoBei=#{stu_baoBei},
			</if>
			<if test="stu_beiZhu != null and stu_beiZhu !=''">
				 stu_beiZhu=#{stu_beiZhu},
			</if>
			<if test="stu_useryId != null and stu_useryId !=''">
				 stu_useryId=#{stu_useryId},
			</if>
			
			
			<if test="stu_youXiao != null and stu_youXiao !=''">
				 stu_youXiao=#{stu_youXiao},
			</if>
			
			<if test="stu_wuXiaoYuanYin != null and stu_wuXiaoYuanYin !=''">
				 stu_wuXiaoYuanYin=#{stu_wuXiaoYuanYin},
			</if>
			<if test="stu_huiFang != null and stu_huiFang !=''">
				 stu_huiFang=#{stu_huiFang},
			</if>
			<!-- <if test="stu_creatorTime != null and stu_creatorTime !=''">
				 stu_creatorTime=#{stu_creatorTime},
			</if> -->
			
			<if test="stu_visit != null and stu_visit !=''">
				 stu_visit=#{stu_visit},
			</if>
			<if test="stu_visitTime != null and stu_visitTime !=''">
				 stu_visitTime=#{stu_visitTime},
			</if>
			<if test="stu_payTime != null and stu_payTime !=''">
				 stu_payTime=#{stu_payTime},
			</if>
			<if test="stu_money != null and stu_money !=''">
				 stu_money=#{stu_money},
			</if>
			<if test="stu_moneyTime != null and stu_moneyTime !=''">
				 stu_moneyTime=#{stu_moneyTime},
			</if>
			<if test="stu_jinE != null and stu_jinE !=''">
				 stu_jinE=#{stu_jinE},
			</if>
			<if test="stu_tui != null and stu_tui !=''">
				 stu_tui=#{stu_tui},
			</if>
			<if test="stu_tuiYin != null and stu_tuiYin !=''">
				 stu_tuiYin=#{stu_tuiYin},
			</if>
			<if test="stu_dingJinE != null and stu_dingJinE !=''">
				 stu_dingJinE=#{stu_dingJinE},
			</if>
			<if test="stu_dingTime != null and stu_dingTime !=''">
				 stu_dingTime=#{stu_dingTime},
			</if>
			<if test="stu_class != null and stu_class !=''">
				 stu_class=#{stu_class},
			</if>
			<if test="stu_classTime != null and stu_classTime !=''">
				 stu_classTime=#{stu_classTime},
			</if>
			
			<if test="stu_classBeiZhu != null and stu_classBeiZhu !=''">
				 stu_classBeiZhu=#{stu_classBeiZhu},
			</if>
			<if test="stu_ziXun != null and stu_ziXun !=''">
				 stu_ziXun=#{stu_ziXun},
			</if>
			<if test="stu_ziXunBeiZhu != null and stu_ziXunBeiZhu !=''">
				 stu_ziXunBeiZhu=#{stu_ziXunBeiZhu},
			</if>
			<if test="stu_quYu != null and stu_quYu !=''">
				 stu_quYu=#{stu_quYu},
			</if>
			<if test="stu_buMen != null and stu_buMen !=''">
				 stu_buMen=#{stu_buMen},
			</if>
			<if test="stu_keCheng != null and stu_keCheng !=''">
				 stu_keCheng=#{stu_keCheng},
			</if>
			<if test="stu_daFen != null and stu_daFen !=''">
				 stu_daFen=#{stu_daFen},
			</if>
			
			
			
			
			
			
			<if test="stu_luRu != null and stu_luRu !=''">
				 stu_luRu=#{stu_luRu},
			</if>
			
</set>
 <where>

		<if test="stu_id !=null and stu_id !=''">
				stu_id=#{stu_id}
		</if>
			
</where> 
</update>
	<!-- 删除-->
	<delete id="delStu" parameterType="int">
	DELETE FROM student WHERE stu_id=#{stu_id}
	</delete>
 	
 	<!--添加  -->
	<insert id="addStu" parameterType="student" >
		insert into 
		student(stu_name,stu_sex,stu_age,stu_phone,stu_state,stu_xueLi,stu_quDao,stu_wangZhan,stu_guanZhu,stu_guanJian,stu_wx,stu_qq,stu_baoBei,stu_beiZhu,stu_useryId)
		values(#{stu_name},#{stu_sex},#{stu_age},#{stu_phone},#{stu_state},#{stu_xueLi},#{stu_quDao},#{stu_wangZhan},#{stu_guanZhu},#{stu_guanJian},#{stu_wx},#{stu_qq},#{stu_baoBei},#{stu_beiZhu},#{stu_useryId})
	</insert>
</mapper>