<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssj.dao.WodeStuMapper">
<!-- 查询总条数 -->
		<select id="selectStuCount" parameterType="fenye" resultType="int">
		SELECT COUNT(stu_id) FROM student
			<where>
			<if test="stu_name !='' and stu_name !=null">
			and stu_name like "%"#{stu_name}"%"
		</if>
		<if test="stu_phone !='' and stu_phone !=null">
			and stu_phone like "%"#{stu_phone}"%"
		</if>
	<!-- 	<if test="stu_name !='' and stu_name !=null">
			and stu_name like "%"#{stu_name}"%"
		</if> -->
		<if test="stu_money !='' and stu_money !=null">
			and stu_money =#{stu_money}
		</if>
		<if test="stu_youXiao !='' and stu_youXiao !=null">
			and stu_youXiao =#{stu_youXiao}
		</if>
		<if test="stu_huiFang !='' and stu_huiFang !=null">
			and stu_huiFang =#{stu_huiFang}
		</if>
		<if test="stu_qq !='' and stu_qq !=null">
			and stu_qq like "%"#{stu_qq}"%"
		</if>
		<if test="startstu_creatorTime >0">
			and stu_creatorTime &gt;=#{startstu_creatorTime}
		</if>
		<if test="eddstu_creatorTime >0">
			and stu_creatorTime &lt;=#{eddstu_creatorTime}
		</if>
		</where> 
		 
		</select>
		<!--模糊查询  -->
		<select id="selectStu" parameterType="fenye" resultType="student">
	  	SELECT s.stu_id, s.stu_name,s.stu_sex,s.stu_age,s.stu_phone,s.stu_state,s.stu_xueLi,s.stu_quDao,
				s.stu_wangZhan,s.stu_guanJian,s.stu_wx,
				s.stu_baoBei,s.stu_keCheng,s.stu_youXiao,s.stu_daFen,s.stu_huiFang,s.stu_visit,s.stu_visitTime,s.stu_baoBei,
				s.stu_payTime,s.stu_wuXiaoYuanYin,
				s.stu_money,s.stu_moneyTime,s.stu_jinE,s.stu_tui,s.stu_class,s.stu_classTime,s.stu_classBeiZhu,
				s.stu_tuiYin,s.stu_dingJinE,s.stu_dingTime,s.stu_quYu,s.stu_buMen,s.stu_qq,s.stu_ziXun,s.stu_creatorTime
 				FROM student s
 				<where>
			<if test="stu_name !='' and stu_name !=null">
			and stu_name like "%"#{stu_name}"%"
		</if>
		<if test="stu_phone !='' and stu_phone !=null">
			and stu_phone like "%"#{stu_phone}"%"
		</if>
	<!-- 	<if test="stu_name !='' and stu_name !=null">
			and stu_name like "%"#{stu_name}"%"
		</if> -->
		<if test="stu_money !='' and stu_money !=null">
			and stu_money =#{stu_money}
		</if>
		<if test="stu_youXiao !='' and stu_youXiao !=null">
			and stu_youXiao =#{stu_youXiao}
		</if>
		<if test="stu_huiFang !='' and stu_huiFang !=null">
			and stu_huiFang =#{stu_huiFang}
		</if>
		<if test="stu_qq !='' and stu_qq !=null">
			and stu_qq like "%"#{stu_qq}"%"
		</if>
	<if test="startstu_creatorTime>0">
			and stu_creatorTime &gt;=#{startstu_creatorTime}
		</if>
		<if test="eddstu_creatorTime >0">
			and stu_creatorTime &lt;=#{eddstu_creatorTime}
		</if>
		</where> 
 				limit #{page},#{pageSize}
		</select>
		<!--修改  -->
		<update id="updateStu" parameterType="int">
			UPDATE student 
 <set>
<if test="stu_ziXun != null and stu_ziXun !=''">
				 stu_ziXun=#{stu_ziXun},
			</if>
			<if test="stu_keCheng != null and stu_keCheng !=''">
				 stu_keCheng=#{stu_keCheng},
			</if>
			<if test="stu_daFen != null and stu_daFen !=''">
				 stu_daFen=#{stu_daFen},
			</if>
			<if test="stu_class != null and stu_class !=''">
				 stu_class=#{stu_class},
			</if>
			<if test="stu_classTime != null and stu_classTime !=''">
				 stu_classTime=#{stu_classTime},
			</if>
			<if test="stu_classBeiZhu != null and stu_classBeiZhu !=''">
				 stu_classBeiZhu=#{stu_classBeiZhu},
			</if>
			<if test="stu_ziXunBeiZhu != null and stu_ziXunBeiZhu !=''">
				 stu_ziXunBeiZhu=#{stu_ziXunBeiZhu},
			</if>
			<if test="stu_youXiao != null and stu_youXiao !=''">
				 stu_youXiao=#{stu_youXiao},
			</if>
			<if test="stu_wuXiaoYuanYin != null and stu_wuXiaoYuanYin !=''">
				 stu_wuXiaoYuanYin=#{stu_wuXiaoYuanYin},
			</if>
			<if test="stu_huiFang != null and stu_huiFang !=''">
				 stu_huiFang=#{stu_huiFang},
			</if>
			<if test="stu_visit != null and stu_visit !=''">
				 stu_visit=#{stu_visit},
			</if>
			<if test="stu_visitTime != null and stu_visitTime !=''">
				 stu_visitTime=#{stu_visitTime},
			</if>
			<if test="stu_payTime != null and stu_payTime !=''">
				 stu_payTime=#{stu_payTime},
			</if>
			<if test="stu_money != null and stu_money !=''">
				 stu_money=#{stu_money},
			</if>
			<if test="stu_moneyTime != null and stu_moneyTime !=''">
				 stu_moneyTime=#{stu_moneyTime},
			</if>
			<if test="stu_jinE != null and stu_jinE !=''">
				 stu_jinE=#{stu_jinE},
			</if>
			<if test="stu_tui != null and stu_tui !=''">
				 stu_tui=#{stu_tui},
			</if>
			<if test="stu_tuiYin != null and stu_tuiYin !=''">
				 stu_tuiYin=#{stu_tuiYin},
			</if>
			<if test="stu_dingJinE != null and stu_dingJinE !=''">
				 stu_dingJinE=#{stu_dingJinE},
			</if>
			<if test="stu_dingTime != null and stu_dingTime !=''">
				 stu_dingTime=#{stu_dingTime},
			</if>
	</set>
		<where>
			stu_id=#{stu_id}
		</where>
</update>
<!--  删除-->
<delete id="delStu" parameterType="int">
DELETE FROM student WHERE stu_id=#{stu_id}
</delete>
 <!--添加  -->
<!-- <insert id="addStu" parameterType="student">

		insert into student
		(stu_name,stu_sex,stu_age,stu_phone,stu_state,stu_xueLi,stu_quDao,stu_wangZhan,stu_guanZhu,stu_guanJian,stu_wx,stu_qq,stu_baoBei,stu_beiZhu,stu_useryId)
		values(#{stu_name},#{stu_sex},#{stu_age},#{stu_phone},#{stu_state},#{stu_xueLi},#{stu_quDao},#{stu_wangZhan},#{stu_guanZhu},#{stu_guanJian,#{stu_wx},#{stu_qq},#{stu_baoBei},#{stu_beiZhu}},#{stu_useryId})

	</insert>   -->

</mapper>